.color-white, header{
  color: white !important;
  font-size: large;
}

.brand {
  font-size: 35px;
  color: white !important;
}

.content {
  margin-top: 50px;
  margin-bottom: 50px;
}

.snap {
  background: rgba(0, 128, 0, 0.39) !important;
  border-radius: 10px !important;
}